<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">List of fencers</h4>
                      <p class="card-category"> broad data on many people</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">                                
                                  <th>Name</th>
                                  <th>Birth Year</th>
                                  <th>Country</th>
                                  <th>Club</th>
                                  <th>Rating</th>
                                  <th>Left/Right Handed</th>
                              </thead>
                              <tbody ng-repeat="birds in list">
                                <td>{{fencers.Name}}</td>
                                <td>{{fencers.BirthYear}}</td>
                                <td>{{fencers.Country}}</td>
                                <td>{{fencers.Club}}</td>
                                <td>{{fencers.Rating}}</td>
                                <td>{{fencers.LRHanded}}</td>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

