{% extends "UI/dashboard.html" %}
{% load static %}

{% block body %}

    <form action="{% url 'search' %}" method="post">

        {% csrf_token %}
        <div class="form-group">
            {{ form }}
             <input class="btn btn-primary" type="submit">
        </div>

    </form>


    <div>
       <h2 > View Fencers</h2>
        <ul>
            {% for fencer in fencers %}
            <li>
                <div class="fencer">
                    <h2> Fencers name: {{ fencer.first_name }} {{ fencer.last_name }} </h2>
                    <h3> Weapon: {{ fencer.weapon }} Rating: {{fencer.rating }} </h3>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}