<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a>
                        Justin Haddad
                    </a>
                </li>
                <li>
                    <a href="https://askfred.net/?FREDSID=r8g85dm14ieh6em215u6qumo80">
                        AskFRED
                    </a>
                </li>
                <li>
                    <a href="https://www.usafencing.org/">
                        USFA
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                        :-)
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Justin Haddad</a> for fun.
        </div>
    </div>
</footer>
